 a:link 
        {
            color:#0D75B3;
            text-decoration:none;
        }
        
        a:visited
        {
            color:Purple;
            text-decoration:none;
        }
        
        a:hover 
        {
            color:#003300;
            text-decoration:none;                       
        }  
          
        a:active
        {
            color:Red;
            text-decoration:none;            
        }
        
                 
        .stylem1, .stylem12
        {
            width: 800px;            
        }
        .stylem5, .stylem6
        {
            width: 200px;
            text-align: center;
        }
        
        .stylem7
        {
            font-size: xx-large;
            color: #660066;
        }
        .stylem8
        {
            width: 200px;
            text-align: center;
            font-weight: bold;
        }
        .stylem9
        {
            width: 200px;
            text-align: center;
            font-weight: bold;
        }
        .stylem10
        {
            text-align: right;
        }
        .stylem11
        {
            font-size: large;
            text-align: center;
            color: #FF0000;
        }        
        .stylem13 .stylem14
        {
            width: 450px;
            text-align: center;
        }
        .bg_Image
        {
            background-image:url("../image/background/bg_paper_800_transfull.jpg");
            background-attachment:fixed;            
            background-position: top center;
            background-repeat:no-repeat;
            margin-left:0;
            margin-right:0;
            margin-top:0;
            margin-bottom:0;
        }
        .bg_noImage
        {
            background-color:white;
            background-attachment:fixed;            
            background-position: bottom center;
            background-repeat:no-repeat;
        }      
        .bg_head_table
        {
            padding: 0px; margin: 0px; 
            width: 100%; height: 42px; 
            z-index: 9999999; 
            background-repeat: repeat-x; 
            background-image: url('/image/background/bg_linexanh_2vien_42px.png');
        }
                 
        .stylem2
        {
            text-align: right;
            font-family: "Book Antiqua";
            color: #0000FF;
        }
                 
        .stylem15
        {
            width: 249px;
            text-align: center;
        }
        .stylem16
        {
            width: 250px;
            text-align: center;
        }
        #round 
        {
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            width:950px;
            background:white;
            border-color:#DEDEDE;            
        }
        #round_02
        {
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            width:200px;
            background:white;
            border-color:#DEDEDE;            
        }
        .round-content 
        {
            padding: 0px;
        }         
        .td_bor
        {
            border: 1px solid #003300;            
        }
        .txtbox_login
        {
            width:129px;
            height:25px;            
            color:#003300;            
            background-color : #FFFFCC;
            font-size: 14px;              
            height:25px;
             border: thin solid #003000;
             /*bo tron 4 goc*/
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px; 
            padding: 0px; margin: 0px; 
              
        }
        .txtbox_nor
        {         
            color:Black;
            background: White;
            font-size: 14px;
            border-width:thin;
            border-color: #999999;
            border-style:solid;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }
        .btn_master
        {
            height: 25px;
            width: 100px;
            font-family: #003300;
                      
        }
        .btn_body
        {
            height: 25px;
            width: 100px;
            font-family: #003300;            
        }
        .font_all
        {
            font: tahoma;
            color:black;            
        }
        .border_tableheadline
        {
            border: thin solid #999999;                     
            width: 800px; height: 31px;                       
            background-repeat: repeat-x; 
            background-image: url('/image/background/bg_linexanh_2vien_31px.png');
            font-family:Tahoma;
            font-size:16px;
            font-weight:700;             
            text-align:left; 
            color:white; 
            /*bo tron goc trai tren*/
            -moz-border-radius-topleft:5px;
            -webkit-border-top-left-radius:5px;      
            /*bo tron goc phai tren*/   
            -moz-border-radius-topright:5px;
            -webkit-border-top-right-radius:5px;  
            padding: 0px; margin: 0px;                 
        }
        .border_menuheadline
        {
            width: 800px; height: 50px;                       
            background-repeat: repeat-x; 
            bottom:0px;
            background-image: url('/image/background/menu_normal01.png');                                       
        }
        .border_alltable
        {
            padding: 0px; margin: 0px;
            width: 800px;
            
            border-width:thin;
            border-color: #999999;
            border-style:solid;            
        }
        .border_headtittle
        {
            font-weight: bold;
            color:#3E3E3E;
            background:#E9E9E9 none repeat-x;
            padding: 4px 10px 4px 10px; margin:0px;
            border-top: 1px solid #CECECE;
         }
         .div_formular
         {
            background-color:white;
            height: 100px;
            overflow: auto;
            padding: 10px;
            border: solid 1px #003300;
         }
         .boder_textbox
         {
             height:25px;
             border: thin solid #003000;
             /*bo tron 4 goc*/
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px; 
            padding: 0px; margin: 0px; 
         }
            
            
          