
    pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}
    html{background:transparent url(http://taoxanh.net/sas/pic/back69.jpg) 
         fixed no-repeat center top}
    em{}strong{}body{width:800px;min-width:600px;max-width:800px;
                     margin:0% auto 0% auto;font-size:13px;color:#575757;
                     line-height:1.230}
    