<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="DataSourceConnectionString" connectionString="Data Source=myitest.mssql.somee.com;Persist Security Info=True;User ID=itestdata;Password=BaoBao0703"
            providerName="System.Data.SqlClient" />
        <add name="myitestConnectionString" connectionString="Data Source=myitest.mssql.somee.com;Initial Catalog=myitest;Persist Security Info=True;User ID=itestdata;Password=BaoBao0703"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
